<!DOCTYPE html>
<html lang="en">

<head>
    <title>Frontend Mentor | Four Card Feature Section</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="fourcard.css" type="text/css" media="all">
</head>

<body>
    <div class="main-text">
        <h1>Reliable, efficient delivery</h1>
        <h2>Powered by Technology</h2>
        <p>Our Artificial Intelligence powered tools use millions of project data<br> points to ensure that your project
            is successful</p>
    </div>
    <div class="boxes">

        <div class="cards supervisor">
            <div class="contents">
                <h3>Supervisor</h3>
                <p>Monitors activity to identify project roadblocks</p>
                <div class="icon magnify"></div>
            </div>
        </div>
        <div class="cards team-builder">
            <div class="contents">
                <h3>Team Builder</h3>
                <p>Scans our talent network to create the optimal team for your project</p>
                <div class="icon builder"></div>
            </div>
        </div>
        <div class="cards karma">
            <div class="contents">
                <h3>Karma</h3>
                <p>Regularly evaluates our talent to ensure quality</p>
                <div class="icon bulb"></div>
            </div>
        </div>
        <div class="cards calculator">
            <div class="contents">
                <h3>Calculator</h3>
                <p>Uses data from past projects to provide better delivery estimates</p>
                <div class="icon calc"></div>
            </div>
        </div>
    </div>
    </div>


</html>
</body>